<div class="nav">
	<%= link_to "Home page", user_path(current_user.id) %>
</div>
<div id="content" >
  <% @select_options.each do |value|%>
  	<section id="<%= value[1] %>">
  		<h3><%= value[0] %></h3>
  		<div class="drop">
  		<% @tasks.each do |task| %>
  		  <% if task.status == value[1] %>
  		    <p><%= task.taskname %></p>
  		  <% end %>
  		<% end %>
  		</div>
  	</section>
  <% end %>
</div>