/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.dialog
 *= require_tree .
 */
body {
	padding-left: 10px;
}
label {
 	float: left;
 	margin: 5px 5px;
 	width: 80px;
}

 #content {
 	width: 99%;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
 }

#content > div {
 	float: left;
 	width: 12%;
 }
#content > div > h5 {
	width: 100%;
	height: 40px;
	font-size: 15px;
	border-bottom: 2px solid black;
	text-align: center;
}

#content > div > div {
	background-color: #FAFAFA;
	background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
	min-height: 500px;
}
#content > div > div > p {
	font-size: 16px;
 	word-wrap: break-word;
 	text-align: center;
}
#content > div > div > p:nth-child(even) {
 	background-color: #CFDCE6; 
 }

 #content > div > div > p:nth-child(odd) {
 	background-color: #DBDDDD; 
 }

 #main_nav {
 	margin: 10px 5px;
 }

.hide {
	display: none;
}

.asc:after {
	content: url(up_arrow.gif);
	padding-left: 5px;
}

.desc:after {
	content: url(down_arrow.gif);
	padding-left: 5px;
}

span.pull-right:hover {
	cursor: help;
}